body{
  background-color: blue;
  color: white;
  margin: 0;
  padding: 0;
}

/* this style applies to every image on the webiste
if we add the prefix of .flex-column then the style will only apply to images within the flex column class */
.flex-column img{
    width: 100%;
}

nav{
  background-color: black;
  border-bottom: 5px solid green;
}

ul{
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  /* this will add 20px on top/bottom; 0 on left/right */
  padding: 20px 0;
  /*padding-bottom: 30px;
  padding-top: 10px;*/  
}

nav a{
  text-decoration: none;
  color: blue;
  font-size: x-large;
  padding: 10px;
  background-color: yellow;
  border-radius: 5px;
}

nav a:hover{
  color: lightblue;
}

h1{
  text-align: center;
}

section{
  text-align: center;
  /* with this setting, each section feels more like a separate page */
  min-height: 100vh;
}

.flex-container{
  display: flex;
  justify-content: center;
  gap: 40px;
}

.flex-column{
  border: 2px solid purple;
  padding: 10px;
  background-color: lightblue;
  color: navy;
  border-radius: 15px;
}

form div{
  padding: 10px;
}

form{
  border: 3px solid green;
  max-width: 400px;
  /* this can force things to be centered */
  margin: 0 auto;
  padding: 20px;
  border-radius: 40px;
}

button{
  background-color: yellow;
  color: navy;
  border: none;
  padding: 5px;
  border-radius: 8px;
}

/* these styles will apply only to smaller screens */
@media (max-width: 768px){
  .flex-container{
    flex-direction: column;
  }
  
  .flex-column{
    margin: 20px;
  }
}